# python / venv
.venv/
.direnv/
*/.venv/
*/.direnv/
*/.DS_Store
*/.vscode

__pycache__/
*.pyc

# 환경변수/비밀
.env
*/.env

# DB/런타임 아티팩트
instance/
*/instance/
*.db
*.sqlite
*.sqlite3
logs/
*/logs/
run/
*/run/
*.pid
app.log
*/app.log

# 빌드/캐시
dist/
build/
.pytest_cache/
.ruff_cache/
.envrc.bak.*
.envrc.bak.*
.envrc.bak.*
